[General]

Verbosity = 0
Pipefs-Directory = /run/rpc_pipefs
# set your own domain here, if id differs from FQDN minus hostname
Domain = {{ ansible_hostname }}

[Mapping]

Nobody-User = root
Nobody-Group = root
